<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.indmexaviation.riws" version="0.0.3" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>RIWS</name>
    <DESCRIPTION>RIWS Plugin</DESCRIPTION>
    <js-module name="riws" src="www/riws.js">
        <clobbers target="riws" />
    </js-module>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="riws">
                <param name="ios-package" value="riws" />
            </feature>
        </config-file>
        <config-file target="*-Info.plist" parent="UISupportedExternalAccessoryProtocols">
    		<array>
        		<string>com.bad-elf.gps</string>
    		</array>
		</config-file>
		<config-file parent="NSLocationWhenInUseUsageDescription" target="*-Info.plist">
        <string>App will use the location services </string>
    </config-file>
        <source-file src="src/ios/riws.m" />
        <header-file src="src/ios/GpsDataFormatters.h" />
        <source-file src="src/ios/GpsDataFormatters.m" />
        <header-file src="src/ios/SimpleBadElfGpsManagers.h" />
        <source-file src="src/ios/SimpleBadElfGpsManagers.m" />
        <source-file src="src/ios/BEAPSDK.framework" target="./" />
        <framework src="src/ios/BEAPSDK.framework"  />
        <framework src="src/ios/RIWSFramework.framework" custom="true" />
        <framework src="QuartzCore.framework" />
        <framework src="ExternalAccessory.framework" />
        <framework src="SystemConfiguration.framework" />
        <framework src="CFNetwork.framework"/>
        <framework src="CoreLocation.framework" />
        <framework src="AVFoundation.framework" />
    </platform>
</plugin>
