<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.indmexaviation.riws" version="1.0.12" xmlns="http://apache.org/cordova/ns/plugins/1.0" >
    <name>RIWS</name>
    <DESCRIPTION>RIWS Plugin</DESCRIPTION>
    <engines>
      <engine name="cordova" version=">=3.1.0" /><!-- Needs cordova/urlutil -->
      
    </engines>
    <js-module name="riws" src="www/riws.js">
        <clobbers target="riws" />
    </js-module>
    <asset src="www/riws.js" target="riws.js" />
    <platform name="ios">
        <config-file parent="/widget" target="res/xml/config.xml">
            <feature name="riws">
                <param name="ios-package" value="riws" />
            </feature>
        </config-file>
        <config-file target="*-Info.plist" parent="UISupportedExternalAccessoryProtocols">
    		<array>
        		<string>com.bad-elf.gps</string>
    		</array>
		</config-file>
		<config-file parent="NSLocationWhenInUseUsageDescription" target="*-Info.plist">
        <string>App will use the location services </string>
    </config-file>
        <source-file src="src/ios/riws.m" />
        <header-file src="src/ios/BadElfListener.h" />
        <source-file src="src/ios/BadElfListener.m" />
        <header-file src="src/ios/GPSSession.h" />
        <source-file src="src/ios/GPSSession.m" />
        <header-file src="src/ios/NSData+hexa.h" />
        <source-file src="src/ios/NSData+hexa.m" />
        <header-file src="src/ios/nmeaApi.h" />
        <source-file src="src/ios/libnmea-universal.a" framework="true" />
        <framework src="src/ios/RIWSFramework.framework"  custom="true" embed="true" />
        <framework src="QuartzCore.framework" />
        <framework src="ExternalAccessory.framework" />
        <framework src="SystemConfiguration.framework" />
        <framework src="CFNetwork.framework"/>
        <framework src="CoreLocation.framework" />
        <framework src="AVFoundation.framework" />
        <hook type="after_plugin_install" src="hooks/embedframework/addEmbedded.js" />
    </platform>
</plugin>
