<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.indmexaviation.riws" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>RIWS</name>
    <DESCRIPTION>RIWS Plugin</DESCRIPTION>
    <js-module name="RIWS" src="www/RIWS.js">
        <clobbers target="RIWS" />
    </js-module>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="RIWS">
                <param name="ios-package" value="RIWS" />
            </feature>
        </config-file>
        <source-file src="src/ios/RIWS.m" />
    </platform>
</plugin>
